
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/** PRINT STYLES */
.page {
  width:80%;
  max-width: 8.5in;
  margin: 0px auto;
  background: #fff;
}

@import "recipe";
